/* default setup */
*{
    margin: 0;
    padding: 0;
    display: flex;
}
@font-face {
    font-family: 'journalregular';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'momstypewriterregular';
    src: url('fonts/momt___-webfont.woff2') format('woff2'),
         url('fonts/momt___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'norse-bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
         url('fonts/Norse-Bold.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}

h1{
    font-family: 'sans-serif';
}

input{
    padding: 9px;
    border: 1px solid #E5E7EB;
}

input:focus{
    border-color: #007bff;
    outline: none;
}

input:invalid{
    border: 1px solid red;
}

button:hover{
    cursor: pointer;
}
/* custom setup */
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-side{
    flex: 1;
    background-image: url(design/1017077.jpg);
}
.right-side{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    background-color: rgb(233, 233, 233);
    gap: 0;
}

.right-header{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
}

.right-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding: 50px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
    
}

.right-content-form{
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 500px;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3px;
}

.form-group label{
    margin-top: px;
}

.form-group .pwd{
    border: 1px solid red;
}

.right-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    height: 100%;
}

.right-footer button{
    padding: 12px;
    margin-top: -25px;
    justify-content: center;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: #f26a03;
    color: white;
    font-size: 14px;
    box-shadow: 1.2px 5px 10px rgba(0, 0, 0, 0.5);
}

.right-footer button:hover{
    background-color: #d45d03;
}

.right-footer button:active{
    background-color: #f1812b;
}

.right-footer .login-form{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.right-footer a{
    color: #f26a03;
    text-decoration: none;
}


/* layout responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* stack vertikal */
  }
  
  .right-content-form {
    flex-direction: column; /* input jadi stack */
    gap: 0;
  }
  
  .left-side {
    height: 200px; /* hero jadi pendek */
  }
}